<div id="clients">
    <div id="clients-background-image" />
    <div class="container">
      <h2>What do my clients say?</h2>
      <div class="row">
        <div class="column column">
          <div class="client-testmonial client-testimonial-pinegreen">
            <h3><q>&#8220;Skilled, efficient, and cost effective&hellip;&#8221;</q></h3>
            <p>I've been lucky to work with Craig for more than a decade – first benefiting from his talents in-house and more recently as he has helped my colleagues and me with video resources for a recent education technology start up. Craig is skilled, efficient, and cost effective, and the quality of his work is excellent.</p>
            <p class="attribution">Stephen Smith <span class="business-name">CEO, Intellispark</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column column">
          <div class="client-testmonial client-testimonial-flamingo">
            <h3 class="anchor-right"><q>&#8220;Delivers tremendous value&hellip;&#8221;</q></h3>
            <p>Craig upgraded our website and our website practices. Our website performs so well that we have needed no supplemental advertising to keep us amply busy. &hellip;Our involvement is minimal so we can focus on our client's work. Craig Rahtz delivers tremendous value and I cannot recommend him highly enough.</p>
            <p class="attribution">Peter Westby <span class="business-name">Partner, Platt & Westby, P.C.</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column column">
          <div class="client-testmonial client-testimonial-jaffa">
            <h3><q>&#8220;Nothing short of magic&hellip;&#8221;</q></h3>
            <p>On a frequent basis, Craig produces creative solutions to the unique challenges of simulator design. He has been a valued collaborator for several years. He understands our business, and he understands the businesses of our customers. He makes important contributions to the success of our projects. The animations Craig has created for our technical training projects and our website have been nothing short of magic.</p>
            <p class="attribution">Purcell Associates, Inc.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column column">
          <div class="client-testmonial client-testimonial-tiber">
            <h3 class="anchor-right"><q>&#8220;Absolute pleasure to work with&hellip;&#8221;</q></h3>
            <p>I have worked with dozens of developers over the years. Craig is one of the few that I have nothing but positive things to say about. I am grateful for all of the assistance and guidance he has provided our team and our clients over the years. He is professional, responsive, timely in delivery, and an absolute pleasure to work with. In summary, he is a good man. A phrase I don't hand out lightly.</p>
            <p class="attribution">Richard Kaiser <span class="business-name">Founder, Wilderness Agency</span></p>
          </div>
        </div>
      </div>
    </div>
</div>