---

---

<div id="services">
    <div class="container">
      <h2>How can I help?</h2>
    </div>
    <div class="services-icon-wrap">
      <div class="services-background-strip"></div>
      <div class="container services-icons">   
          <div class="front-end-tile tile">
            <div class="tile-content">
                <h3><a href="/front-end-development-services">Font-End Development</a>&nbsp;&nbsp;🚀</h3>    
              <ul>
                <li>
                  Responsive, Accessible User Interfaces
                </li>
                <li>Modern, High Performance Websites</li>
                <li>WordPress Theme Development</li>
                <li>React and Vue Development</li>
                <li>UI/UX Development</li>
              </ul>
            </div>
          </div>

          <div class="back-end-tile tile">
            <div class="tile-content">
                <h3><a href="/back-end-support-services">Back-End Support</a> &nbsp;🛠</h3>
              <ul>
                <li>WordPress Support, Maintenance, and Optimization</li>
                <li>Domain Management and Security Certificates</li>
                <li>AWS Administration</li>
                <li>Website Recovery</li>
                <li>Hosting Support</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
</div>