@import 'variables-root.scss';
@import url("https://use.typekit.net/bhg7sgb.css");
@import 'milligram/milligram.sass';

body {
    background: var(--cyprus);
    color: var(--astronaut-blue);
    margin: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  #app {
    background: white;
  }
  
  header {
    background: white;
  }
  
  .container {
    max-width: 820px;
    margin: 0px auto;
  }
  
  @media screen and (max-width: 850px) {
    .row {
      width: auto;
    }
    .container {
      padding: 0 2rem;
    }
  }
  
  .vertical-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    nav {
      width: 100%;
    }
  }
  .show-for-sr,
  .show-on-focus {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  