---
import '../../styles/global.scss';
const {pageTitle} = Astro.props;
const {metaDescription} = Astro.props;
---
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
    <meta name="description" content={metaDescription} />
    <script defer data-domain="rahtz.net" src="https://plausible.io/js/plausible.js"></script>
    <!-- <script type="module" src="/src/main.js"></script> -->
</head>