---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import SiteContactForm from "../components/site/SiteContactForm.astro"
import "../styles/components/internal-pages.scss";
import "../styles/components/contact-pages.scss"

const pageTitle = "Contact Craig Rahtz, Freelance Web Developer"
const metaDescription = "Let me know how I can help"
---

<BasePageLayout pageTitle={pageTitle} metaDescription={metaDescription}>
<main>
    <div class="wrap">
      <div class="page-background-image" />
      <div class="container row page-content">
        <div class="column">
          <div class="contact-header-image-wrapper">
            <img class="contact-header-image" src="../assets/images/contact-cincinnati.jpg" alt="Map of Cincinnati" />
          </div>
          <h1>Contact Craig Today!</h1>

          <div class="row">
            <div class="column column-33 padding-right">
              <p>I develop and support websites for clients all across the country. But I primarily live and work in the Greater Cincinnati area.</p>
              <p>Please use this form to get in touch with me. I love to hear about new and interesting projects. You can also <a href="https://www.linkedin.com/in/craigrahtz/">find me on LinkedIn</a>.</p>
            </div>
            <div class="form-wrapper column column-66">
              <SiteContactForm />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</BasePageLayout>