---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import PageHeadline from "../components/internal-pages/PageHeadline.astro"
import PageContactForm from "../components/internal-pages/PageContactForm.astro";
import "../styles/components/internal-pages.scss";

import { getPageData } from '../lib/directus-graphql';
const pageData = await getPageData(3);
---

<BasePageLayout pageTitle={pageData.page_title} metaDescription={pageData.meta_description}>
  <main>
    <PageHeadline headline={pageData.page_headline} />
    <div class="wrap">
      <div class="page-background-image" />
      <div class="container row page-content">
        <div class="column column-66 content-column" set:html={pageData.content}></div>
        <div class="column column-33" id="contact-craig">
          <PageContactForm />
        </div>
      </div>
    </div>
  </main>
</BasePageLayout>