---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import HomeHeroSection from "../components/homepage/HomeHeroSection.astro";
import HomeServicesSection from "../components/homepage/HomeServicesSection.astro";
import HomeClientsSection from "../components/homepage/HomeClientsSection.astro";
import HomeContactSection from "../components/homepage/HomeContactSection.astro";

const pageTitle = "Freelance Web Developer, Craig Rahtz"
const metaDescription = "A freelance web developer working in Cincinnati, Ohio. Professional front-end development and back-end support."
---

<BasePageLayout pageTitle={pageTitle} metaDescription={metaDescription}>
		<HomeHeroSection />
		<main>
			<HomeServicesSection />
			<HomeClientsSection />
			<HomeContactSection />
		</main>
</BasePageLayout>

