---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import PageHeadline from "../components/internal-pages/PageHeadline.astro"
import PageContactForm from "../components/internal-pages/PageContactForm.astro";
import "../styles/components/internal-pages.scss";

const pageHeadline = "Web Development Services";
const pageTitle = "Web Development Services from Craig Rahtz";
const metaDescription = "Services focusing on front-end development and back-end support";
---

<BasePageLayout pageTitle={pageTitle} metaDescription={metaDescription}>
  <main>
    <PageHeadline headline={pageHeadline} />
    <div class="wrap">
      <div class="page-background-image" />
      <div class="container row page-content">
        <div class="column column-66 content-column">
          <p>I help clients create meaningful online experiences. My unique background in both content creation and content delivery allows me to provide a wide rage of digital services.</p>
          <div class="service-block">
            <h2 class="services-link"><router-link to="/front-end-development-services">Front-End Development</router-link></h2>
            <p>If you have an idea for a website or an existing website that simply needs a refresh, I can provide the front-end development services you need to get your project off the ground. I have the experience and insight necessary to find client-centered, right-sized <router-link to="/front-end-development-services">solutions for the web.</router-link></p>
          </div>
          <div class="service-block">
            <h2 class="services-link"><router-link to="/back-end-support-services">Back-End Support</router-link></h2>
            <p>Many of my clients just need someone to keep an eye on the nuts and bolts of their website. If you're looking for someone to support your WordPress site, sort out your domain registration, manage your hosting, or serve as your site administrator, <router-link to="/contact-craig">contact me</router-link> to ask about how my <router-link to="/back-end-support-services">back-end support services</router-link> can elevate your presence on the web.</p>
          </div>
        </div>

        <div class="column column-33" id="contact-craig">
          <PageContactForm />
        </div>
      </div>
    </div>
  </main>
</BasePageLayout>


<style lang="scss">

.service-block {
    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 4rem;
    }
}

.services-link {
    text-transform: capitalize;
    font-size: 3.2rem;
    
    a {
        // text-decoration: none;
    }
}

@media screen and (max-width: 640px) {
    .service-block {
        h2 {
            margin-bottom: 1.5rem;
        }
    }
}

</style>
    